<div class="section about" id="Section2">
    <div class="intro text-box transpose-parallax">

        <h1>About</h1>
        <h1>Subtitle</h1>
        <p>Lorem ipsum dolor sit amet, no malis iriure accusam est, in cum elitr ludus. Accusata intellegat sed et, quo quem mutat vituperata cu, usu sumo luptatum no.</p>
        <p>
            Eu integre blandit suscipiantur mea, sed an reque consequat, te porro novum luptatum pri. Vel ut veri aliquam, legimus consetetur appellantur vel te, mei tale alia cu.
            Ut magna simul maluisset sit, velit tractatos percipitur an eos, mea illum tempor aliquando in. Nulla blandit has ut, an duo officiis interesset. Te cum ceteros convenire
            vituperata, ea delenit minimum expetendis vel. Per perfecto quaestio erroribus eu, vitae labores suavitate ad mei. Ei ridens utroque accusata nam, ei usu euismod pertinax.
        </p>
    </div>
    <div class="second-paragraph text-box transpose-parallax">
        <h1>Subtitle</h1>
        <p>Lorem ipsum dolor sit amet, no malis iriure accusam est, in cum elitr ludus. Accusata intellegat sed et, quo quem mutat vituperata cu, usu sumo luptatum no.</p>
        <p>
            Eu integre blandit suscipiantur mea, sed an reque consequat, te porro novum luptatum pri. Vel ut veri aliquam, legimus consetetur appellantur vel te, mei tale alia cu.
            Ut magna simul maluisset sit, velit tractatos percipitur an eos, mea illum tempor aliquando in. Nulla blandit has ut, an duo officiis interesset. Te cum ceteros convenire
            vituperata, ea delenit minimum expetendis vel. Per perfecto quaestio erroribus eu, vitae labores suavitate ad mei. Ei ridens utroque accusata nam, ei usu euismod pertinax.
        </p>
    </div>
</div>