<div class="section contact" id="Section5">

    <div class="section-content">
        <div class="map-container">
            @*<iframe src="https://snazzymaps.com/embed/146975" width="1920px" height="1080px" style="border:none;"></iframe>*@
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2421.4434843573513!2d-1.1304622841882621!3d52.633900279835956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48776118973dc0fd%3A0x8a9ecde292178d6c!2sTranspose+Software!5e0!3m2!1sen!2suk!4v1549637931825" alt="Your browser does not support iframes." width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <div class="contact-content">

            <span class="tagname-colour"><span class="tag-colour">&lt;</span>contact<span class="tag-colour">&gt;</span></span>
            <div class="contact-container">

                <span class="tagname-colour indent-1"><span class="tag-colour">&lt;</span>email<span class="tag-colour">&gt;</span></span>
                <a href="mailto:info@transpose.net">info@transpose.net</a>
                <span class="tagname-colour"><span class="tag-colour">&lt;</span>/email<span class="tag-colour">&gt;</span></span><br />

                <span class="tagname-colour indent-1"><span class="tag-colour">&lt;</span>telephone<span class="tag-colour">&gt;</span></span>
                <a href="tel:+44 116 218 2808" data-rel="external">+44 116 218 2808</a>
                <span class="tagname-colour"><span class="tag-colour">&lt;</span>/telephone<span class="tag-colour">&gt;</span></span><br />

                <span class="tagname-colour indent-1"><span class="tag-colour">&lt;</span>address<span class="tag-colour">&gt;</span></span>
                <div class="contact-address indent-2">
                    <a href="https://www.google.com/maps/place/Transpose+Software" target="_blank">
                        128 Charles Street,<br />Leicester,<br />LE1 1LB
                    </a>
                </div><span class="tagname-colour indent-1"><span class="tag-colour">&lt;</span>/address<span class="tag-colour">&gt;</span></span>
            </div>
            <span class="tagname-colour"><span class="tag-colour">&lt;</span>/contact<span class="tag-colour">&gt;</span></span>

        </div>

    </div>

    
    <div class="footer-background">
        <img class="img-responsive footer-img" src="~/img/dash-t.svg" alt="tag" />
        <div class="footer-logo">transpose<span class="logo-parenthesis">()</span>;</div>
    </div>

</div>