<div class="section home" id="Section0">

    <div class="video-container">
        <video class="section-video" autoplay muted loop id="HomeVideo" data-keepplaying>
            <source src="~/video/devteam.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>
 
    <div class="strapline-container">
        <div class="strapline-text"><h1>deep thinking. </h1></div>
        <div class="strapline-text"><h1>straight talking.</h1><h1>hard working.</h1></div>
    </div>
    <div data-menuanchor="Project1Section">
        <a href="#Project1Section" ><img src="~/img/pointer-down.svg" class="jump-icon arrow-down" /></a>
    </div>
</div>

