<div class="section project" id="Section2">
    <div class="slide">
        <div class="video-container">
            <video autoplay muted loop id="Project1Video" data-keepplaying>
                <source src="~/video/unicarriers-tcp.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>

        <div class="item-caption">
            <hr />
            <div class="caption-container">
                <h3>UniCarriers / TCP</h3>
                <p>
                    Maecenas ac turpis arcu. Curabitur sed nisi vitae urna placerat mollis. Etiam nec dapibus purus, vitae varius turpis. Pellentesque sagittis ut metus non faucibus. Etiam ornare semper gravida. Morbi et ligula rutrum, gravida elit auctor,
                    iaculis lacus. Quisque quis dui a mi mollis fringilla vitae vel odio. Sed pulvinar sem dui, non ultrices est egestas vel. Sed elementum augue ipsum, in fringilla diam gravida eu. In nisl nisl, ultrices interdum ipsum vitae, maximus scelerisque urna.
                    In scelerisque sapien a ipsum hendrerit posuere. Etiam leo urna, dapibus nec luctus a, pretium vel turpis. Proin a quam luctus, suscipit mi in, condimentum sem.
                </p>
            </div>
        </div>
    </div>

</div>